html, body {
    margin: 0;
    padding: 0;
}

.inner-topbar {
    overflow: hidden;
    background: linear-gradient(180deg, #2A2645 34.9%, #1D4D4A 100%);
    position: auto;
    width: 100%;
    height: 100vh;
    
}

div.topbar {
    width: 100%;
    height: 100px;
    position: sticky;
    top: 0px;


    


}

.erroralign {
    text-align: center;
    padding-top: 250px;
}