html, body {
    margin: 0;
    padding: 0;
}

.inner-topbar {
    overflow: hidden;
    background: linear-gradient(180deg, #2A2645 34.9%, #1D4D4A 100%);
    position: auto;
    width: 100%;
    height: 100vh;
    
}

.topbar {
    box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(244.3749949336052, 244.3749949336052, 244.3749949336052, 0.05999999865889549);
	width:100%;
	height:90px;


    


}



.erroralign {
    text-align: center;
    padding-top: 250px;
}